body {
    background-color: #ffbc0a;
    margin: 0;
    color: #2f4858;
    font-family: "Roboto", sans-serif;
}
header {
    height: 200px;
    display: block;
}

.welcome-page {
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    margin-top: 30px;
}

.forms {
    width: 670px;
    align-self: center;
    margin-bottom: -30px;
}

.forms p,
h3,
h4 {
    text-align: center;
}

#email {
    margin-left: 11rem;
}

.welcome-page-text {
    align-self: center;
    text-align: center;
    font-family: "Paytone One", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.welcome-link {
    align-self: center;
    color: #2f4858;
    text-align: center;
    margin-top: 0;
}

.welcome-link a {
    padding: 10px;
    align-self: center;
    color: #2f4858;
    font-weight: bold;
}
.forms input {
    /* display: block; */
    margin: 10px;
    height: 30px;
    width: 300px;
    font-size: 15px;
    text-align: left;
    border-radius: 5px;
    border-color: #5d576b;
    text-align: center;
}

.forms button {
    margin-top: 10px;
    margin-left: 13rem;
    /* align-self: center; */
}

.logo-welcome {
    width: 500px;
    border-radius: 5px;
    align-self: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: right;
    display: inline;
    font-size: 20px;
    height: 30px;
    margin-top: 5rem;
    font-weight: bold;
}

.navbar li a {
    color: #2f4858;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    transition: 0.3s;
    border: none;
}
.navbar li a:hover {
    background-color: #fc2f00;
    color: white;
}

.profile-pic-small {
    height: 100px;
    width: 100px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;
    border-radius: 10px;
    margin-left: 20px;
}

.logo-small {
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.profile-container img {
    height: 300px;
    width: 300px;
}

.profile-container {
    height: 300px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.user-info {
    margin-left: 20px;
    margin-top: 50px;
    font-size: 20px;
}

.user-name {
    text-decoration: underline;
    font-weight: bold;
}

.find-user {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-left: 3rem;
    justify-content: center;
    text-align: center;
}

.find-user img {
    height: 230px;
    width: 230px;
    object-fit: fill;
    border-radius: 5px;
}

.find-user p {
    margin-left: 4rem;
    font-weight: bold;
    padding-bottom: 2rem;

    align-self: center;
    width: 200px;
}

#input-field {
    margin-left: 6rem;
    margin-bottom: 4rem;
    height: 40px;
    width: 250px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
}

button {
    width: 250px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
    transition: 0.3s;
    border: 2px solid #2f4858;
    border-radius: 5px;
    background-color: #9da9a0;
}

button:hover {
    background-color: #fc2f00;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.title {
    margin-left: 6rem;
}

.show-bio {
    width: 350px;
    padding: 5rem;
    font-size: 20px;
}

.show-bio button {
    margin-top: 5rem;
}
.textarea-box {
    margin-top: -2rem;
    width: 350px;
    padding: 5rem;

    font-size: 15px;
    /* padding: 0; */
}

.textarea-box textarea {
    margin-top: -2rem;
    width: 350px;
    height: 150px;
    font-size: 15px;
    padding: 0;
}

.textarea-box button {
    margin-top: 5rem;
}

/* color: #ec7d10; */

.photo-uploader {
    background-color: #2f4858;
    width: 300px;
    height: 150px;
    float: right;
    position: fixed;
    top: 150px;
    right: 10px;
    transition: 3s;

    border-radius: 5px;
    padding-top: 30px;
}

.files {
    visibility: hidden;
}

.label {
    /* border: 2px solid #ec7d10; */
    border-radius: 5px;
    outline: none;
    /* white-space: nowrap; */
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-decoration: underline;
}

.label:hover {
    color: #fc2f00;
}

.requests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
}

.requests img {
    height: 230px;
    width: 230px;
    object-fit: fill;
}

.friends h2 {
    margin-left: 2rem;
    margin-top: 40px;
    text-decoration: underline;
    font-family: "Paytone One", sans-serif;
    font-size: 35px;
}
